.box1{
    background-color: #a7bcff;
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box2{
background-color: white;
padding:20px 60px ;
border-radius: 10px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
span{
    color: #5d5b8d;
    font-weight: bold;
    font-size: 24px;
}
input{
    padding: 15px;
    border: none;
    border-bottom: 1px solid #a7bcff;
    width: 250px;
}